/* Importa a fonte do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

/* Reseta os estilos padrão do browser */
*{
    margin: 0;
    padding: 0;
}

/* Estilo para o corpo da página */
body{
    /* Define a altura do corpo como 100% da viewport */
    height: 100vh;
    /* Habilita o box-sizing para incluir padding e border no cálculo da largura */
    box-sizing: border-box;
    /* Define o background como preto e o texto como branco */
    background-color: #000000;
    color: #F6F6F6;
}

/* Estilo para o título de destaque */
.titulo-destaque{
    /* Define a cor do título como azul */
    color: #22D4FD;
}

/* Estilo para a seção de apresentação */
.apresentacao{
    /* Define a margem como 10% do topo e 15% dos lados */
    margin: 10% 15%;
    /* Habilita o display flex para alinhar os elementos */
    display: flex;
    /* Alinha os elementos verticalmente */
    align-items: center;
    /* Justifica os elementos horizontalmente */
    justify-content: space-between;
}

/* Estilo para o conteúdo da apresentação */
.apresentacao__conteudo{
    /* Define a largura como 615px */
    width: 615px;
    /* Habilita o display flex para alinhar os elementos */
    display: flex;
    /* Define a direção do flex como coluna */
    flex-direction: column;
    /* Define o espaçamento entre os elementos como 40px */
    gap: 40px;
}

/* Estilo para o título da apresentação */
.apresentacao__conteudo__titulo{
    /* Define a fonte como Krona One e o tamanho como 36px */
    font-size: 36px;
    font-family: 'Krona One', sans-serif;
}

/* Estilo para o texto da apresentação */
.apresentacao__conteudo__texto{
    /* Define a fonte como Montserrat e o tamanho como 24px */
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
}

/* Estilo para os links da apresentação */
.apresentacao__links{
    /* Habilita o display flex para alinhar os elementos */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Define o espaçamento entre os elementos como 60px */
    gap: 32px;
}

.apresentacao__links__subtitulo {
    /* Define a fonte como Montserrat e o tamanho como 24px */
    font-size: 24px;
    font-family: 'Krona One', sans-serif;
    font-weight: 400;
}
/* Estilo para cada link da apresentação */
.apresentacao__links__link{
    /* Define a largura como 280px */
    width: 378px;
    /* Alinha o texto no centro */
    text-align: center;
    /* Define a borda como arredondada */
    border-radius: 8px;
    /* Define a fonte como Montserrat e o tamanho como 24px */
    font-size: 24px;
    /* Define o peso da fonte como 600 */
    font-weight: 600;
    /* Define o padding como 21.5px */
    padding: 21.5px 0;
    /* Remove a decoração do link */
    text-decoration: none;
    /* Define a cor do texto como preto */
    color: #f6f6f6;
    /* Define a fonte como Montserrat */
    font-family: 'Montserrat', sans-serif;
    border: 2px solid #22D4FD;
}